.spinner {
  width: 40px;
  height: 40px;
  display: grid;
  animation: spinner-plncf9 0.5s infinite;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  border: 6.4px solid;
  border-radius: 50%;
  border-color: #f06a22 #f06a22 #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 0.5s infinite linear;
}

.spinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}
