.navbar_wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  /* background-color: #fff; */
  background-color: #07142b;

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.navbar_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  height: 80px;
}

.logo_item {
  width: 250px !important;
  height: auto !important;
}

.navbar_container h4 {
  font-size: 30px;
  color: rgb(31, 31, 31);
}
.logo_span {
  color: #c78f1f;
}
.navbar_elements {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_menu_items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar_elements .navbar_items {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.navbar_elements .navbar_items:focus {
  color: #ddc269;
}
.navbar_elements .navbar_items:hover {
  color: #f0aa22;
}
.menu_icon {
  display: none;
  color: #fff;
}
.menu_close_icon {
  display: none;
}
.btn_container {
  display: flex;
  gap: 10px;
}
.mobile_menu {
  display: none;
}

.mobile_menu .navbar_items {
  /* font-size: 16px; */
  font-size: 23px;
  text-decoration: none;
  color: #fff;
  width: 300px;
  padding: 10px;
  margin-left: 20px;
  font-weight: 500;
}

.getStarted {
  display: none !important;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 80px;
  padding: 20px 20px;
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #053041;
}

/* utilities  */

.btn_register {
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.07),
    0 7px 14px rgba(241, 140, 65, 0.26);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 150px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.btn_register:hover {
  box-shadow: none;
}

.btn_login {
  width: 150px;
  text-align: center;
  border: 1px solid #ddc269;
  color: #063a4f;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.btn_login:hover {
  border: 1px solid #f0aa22;
  color: #f0aa22;
}

.menu_for_mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar_elements .nav_menu_items {
    display: none;
  }
  .navbar_elements {
    gap: 15px;
  }
  .menu_icon {
    display: block;
  }

  .navbar_container .menu_close_icon {
    display: block;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 400;
    margin-right: 20px;
    margin-top: 10px;
    color: #fff;
    font-size: 40px;
  }

  .mobile_menu {
    /* background-color: #063a4f; */
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
    padding-top: 70px;

    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23063A4F%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72ba%22 stroke-width=%221.8%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h87v87H0zM87 0h87v87H87z%22%2F%3E%3Cpath fill=%22%234c4e7205%22 d=%22M174 0h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M261 0h87v87h-87zM348 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7212%22 d=%22M435 0h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M522 0h87v87h-87zM609 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7240%22 d=%22M696 0h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M783 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7257%22 d=%22M870 0h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 0h87v87h-87zM1044 0h87v87h-87zM1131 0h87v87h-87zM1218 0h87v87h-87zM1305 0h87v87h-87zM1392 0h87v87h-87zM1479 0h87v87h-87zM1740 0h87v87h-87zM1827 0h87v87h-87zM1914 0h87v87h-87zM0 87h87v87H0z%22%2F%3E%3Cpath fill=%22%234c4e7223%22 d=%22M87 87h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7202%22 d=%22M261 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 87h87v87h-87zM435 87h87v87h-87zM609 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7227%22 d=%22M696 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e726d%22 d=%22M783 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M870 87h87v87h-87zM1044 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e727f%22 d=%22M1131 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 87h87v87h-87zM1305 87h87v87h-87zM1392 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7263%22 d=%22M1479 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1566 87h87v87h-87zM1653 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7242%22 d=%22M1740 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 87h87v87h-87zM1914 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e724c%22 d=%22M0 174h87v87H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M87 174h87v87H87zM174 174h87v87h-87zM261 174h87v87h-87zM348 174h87v87h-87zM522 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7270%22 d=%22M609 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 174h87v87h-87zM783 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7252%22 d=%22M870 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 174h87v87h-87zM1044 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72ae%22 d=%22M1131 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 174h87v87h-87zM1305 174h87v87h-87zM1392 174h87v87h-87zM1479 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7240%22 d=%22M1566 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e723a%22 d=%22M1653 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7233%22 d=%22M1740 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e729c%22 d=%22M1827 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1914 174h87v87h-87zM174 261h87v87h-87zM261 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7235%22 d=%22M435 261h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M522 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7252%22 d=%22M609 261h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 261h87v87h-87zM783 261h87v87h-87zM870 261h87v87h-87zM1044 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7216%22 d=%22M1131 261h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 261h87v87h-87zM1392 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7260%22 d=%22M1479 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7210%22 d=%22M1566 261h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1653 261h87v87h-87zM1740 261h87v87h-87zM1827 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e726c%22 d=%22M1914 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7200%22 d=%22M0 348h87v87H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 348h87v87h-87zM261 348h87v87h-87zM348 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72a1%22 d=%22M435 348h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M522 348h87v87h-87zM609 348h87v87h-87zM696 348h87v87h-87zM783 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7234%22 d=%22M870 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7279%22 d=%22M957 348h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1131 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7276%22 d=%22M1218 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7227%22 d=%22M1392 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e724b%22 d=%22M1479 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e728e%22 d=%22M1653 348h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1740 348h87v87h-87zM1827 348h87v87h-87zM0 435h87v87H0zM87 435h87v87H87zM174 435h87v87h-87zM261 435h87v87h-87zM348 435h87v87h-87zM435 435h87v87h-87zM522 435h87v87h-87zM609 435h87v87h-87zM696 435h87v87h-87zM870 435h87v87h-87zM1044 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e726a%22 d=%22M1131 435h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 435h87v87h-87zM1305 435h87v87h-87zM1392 435h87v87h-87zM1479 435h87v87h-87zM1566 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7225%22 d=%22M1653 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72a0%22 d=%22M1740 435h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e725a%22 d=%22M1914 435h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 522h87v87H0z%22%2F%3E%3Cpath fill=%22%234c4e7218%22 d=%22M87 522h87v87H87z%22%2F%3E%3Cpath fill=%22%234c4e7269%22 d=%22M174 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e724d%22 d=%22M261 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7279%22 d=%22M435 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M522 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7235%22 d=%22M696 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7253%22 d=%22M870 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7273%22 d=%22M1131 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e728e%22 d=%22M1218 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1305 522h87v87h-87zM1392 522h87v87h-87zM1479 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7283%22 d=%22M1566 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1653 522h87v87h-87zM1740 522h87v87h-87zM1827 522h87v87h-87zM1914 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e721a%22 d=%22M0 609h87v87H0z%22%2F%3E%3Cpath fill=%22%234c4e7269%22 d=%22M87 609h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 609h87v87h-87zM261 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e729f%22 d=%22M348 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7216%22 d=%22M435 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7241%22 d=%22M522 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e724d%22 d=%22M609 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 609h87v87h-87zM783 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e727a%22 d=%22M870 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72a6%22 d=%22M957 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7217%22 d=%22M1044 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1131 609h87v87h-87zM1305 609h87v87h-87zM1392 609h87v87h-87zM1479 609h87v87h-87zM1566 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7225%22 d=%22M1653 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1740 609h87v87h-87zM1827 609h87v87h-87zM87 696h87v87H87zM174 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7241%22 d=%22M261 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 696h87v87h-87zM435 696h87v87h-87zM609 696h87v87h-87zM696 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7279%22 d=%22M783 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M870 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e725f%22 d=%22M957 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1131 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e728c%22 d=%22M1218 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1305 696h87v87h-87zM1392 696h87v87h-87zM1479 696h87v87h-87zM1566 696h87v87h-87zM1653 696h87v87h-87zM1740 696h87v87h-87zM1914 696h87v87h-87zM261 783h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e722c%22 d=%22M348 783h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M435 783h87v87h-87zM522 783h87v87h-87zM609 783h87v87h-87zM696 783h87v87h-87zM870 783h87v87h-87zM1044 783h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72ab%22 d=%22M1131 783h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 783h87v87h-87zM1305 783h87v87h-87zM1392 783h87v87h-87zM1479 783h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72a7%22 d=%22M1566 783h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1653 783h87v87h-87zM1827 783h87v87h-87zM1914 783h87v87h-87zM0 870h87v87H0z%22%2F%3E%3Cpath fill=%22%234c4e7282%22 d=%22M87 870h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M261 870h87v87h-87zM348 870h87v87h-87zM435 870h87v87h-87zM522 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7208%22 d=%22M609 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 870h87v87h-87zM783 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7277%22 d=%22M870 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7299%22 d=%22M1044 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1131 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7211%22 d=%22M1218 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1392 870h87v87h-87zM1479 870h87v87h-87zM1566 870h87v87h-87zM1653 870h87v87h-87zM1740 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e724e%22 d=%22M1827 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1914 870h87v87h-87zM0 957h87v87H0zM87 957h87v87H87zM174 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7298%22 d=%22M261 957h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 957h87v87h-87zM435 957h87v87h-87zM522 957h87v87h-87zM609 957h87v87h-87zM696 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72b4%22 d=%22M783 957h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M870 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7232%22 d=%22M957 957h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1131 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e727f%22 d=%22M1218 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e722c%22 d=%22M1305 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72ac%22 d=%22M1392 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e723d%22 d=%22M1479 957h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1566 957h87v87h-87zM1653 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7281%22 d=%22M1740 957h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 957h87v87h-87zM1914 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7267%22 d=%22M0 1044h87v87H0z%22%2F%3E%3Cpath fill=%22%234c4e7218%22 d=%22M87 1044h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e728e%22 d=%22M261 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 1044h87v87h-87zM435 1044h87v87h-87zM522 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e724d%22 d=%22M609 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 1044h87v87h-87zM783 1044h87v87h-87zM1044 1044h87v87h-87zM1131 1044h87v87h-87zM1218 1044h87v87h-87zM1305 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7240%22 d=%22M1392 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1479 1044h87v87h-87zM1566 1044h87v87h-87zM1653 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e723d%22 d=%22M1740 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 1044h87v87h-87zM1914 1044h87v87h-87zM0 1131h87v87H0zM87 1131h87v87H87zM174 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e721c%22 d=%22M348 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72a7%22 d=%22M522 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7222%22 d=%22M609 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 1131h87v87h-87zM783 1131h87v87h-87zM870 1131h87v87h-87zM1044 1131h87v87h-87zM1131 1131h87v87h-87zM1218 1131h87v87h-87zM1305 1131h87v87h-87zM1392 1131h87v87h-87zM1479 1131h87v87h-87zM1653 1131h87v87h-87zM1827 1131h87v87h-87zM0 1218h87v87H0zM174 1218h87v87h-87zM261 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e720d%22 d=%22M348 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72a5%22 d=%22M522 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7248%22 d=%22M609 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 1218h87v87h-87zM783 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e722e%22 d=%22M870 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1044 1218h87v87h-87zM1131 1218h87v87h-87zM1218 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7295%22 d=%22M1305 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72ad%22 d=%22M1392 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e728e%22 d=%22M1479 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1566 1218h87v87h-87zM1740 1218h87v87h-87zM1827 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e720f%22 d=%22M1914 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 1305h87v87h-87zM435 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e720f%22 d=%22M522 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M609 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72af%22 d=%22M696 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M783 1305h87v87h-87zM870 1305h87v87h-87zM957 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e728f%22 d=%22M1044 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1305 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7246%22 d=%22M1479 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7272%22 d=%22M1566 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1653 1305h87v87h-87zM1827 1305h87v87h-87zM1914 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72b0%22 d=%22M0 1392h87v87H0z%22%2F%3E%3Cpath fill=%22%234c4e7239%22 d=%22M87 1392h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 1392h87v87h-87zM261 1392h87v87h-87zM348 1392h87v87h-87zM435 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72a9%22 d=%22M522 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 1392h87v87h-87zM783 1392h87v87h-87zM870 1392h87v87h-87zM957 1392h87v87h-87zM1044 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7283%22 d=%22M1131 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 1392h87v87h-87zM1305 1392h87v87h-87zM1392 1392h87v87h-87zM1479 1392h87v87h-87zM1566 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e7278%22 d=%22M1653 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1740 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72af%22 d=%22M1827 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%234c4e72b6%22 d=%22M1914 1392h87v87h-87z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  }
  .getStarted {
    display: flex !important;
  }
  .mobile_menu.active,
  .getStarted.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
    /* transition: var(--speed) ease; */
  }

  .mobile_menu.inactive,
  .getStarted.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
    /* transition: var(--speed) ease; */
  }
  /* utilities */
  .btn_login {
    color: #f0aa22;
    font-weight: 500;
    border: 1px solid #f0aa22;
    outline: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
  }

  .btn_register {
    font-weight: 500;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
  }

  .menu_for_mobile {
    display: block;
    width: 80px;
  }
}
