.section_a {
  padding-bottom: 100px;
  padding: 0px 50px;
  margin-bottom: 100px;
}

.dashboard_container {
  /* height: 500px; */
  margin-top: 30px;
  display: grid;
  /* grid-template-columns: 60% 40%; */
  grid-template-columns: 3fr 2fr;
  gap: 30px;
}

.left_panel {
  border-radius: 20px;
  padding: 15px 0px 0px 0px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profit_target > p:nth-of-type(1) {
  font-size: 27px;
  font-weight: 500;
  margin-left: 15px;
}
.profit_target > p:nth-of-type(2) {
  font-size: 15px;
  margin-left: 15px;
}
.match_event {
  background-color: #0d333f;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

.match_event > p:nth-of-type(1) {
  color: #0fd46c;
}
.match_event > p:nth-of-type(2) {
  font-size: 30px;
  font-weight: 600;
}
.event_computations {
  margin-top: 30px;
}

.event_computations > p {
  display: none !important;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}
.computation_wrapper {
  /* border: 1px solid gray; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.event_right {
  text-align: right;
}
.event_left {
  text-align: left;
}
.staked_trade {
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #f5b96a !important;
  font-weight: 500;
}

.staked_trade_completed {
  color: #0fd46c !important;
  border: 2px dotted #0fd46c !important;
  padding: 0px 5px;
  border-radius: 5px;
}
.staked_trade_cancelled {
  color: rgb(245, 47, 47) !important;
  border: 2px dotted rgb(245, 47, 47) !important;
  padding: 0px 5px;
  border-radius: 5px;
}

.success_trade_color {
  color: #0fd46c !important;
}

/* @right panel  */
.right_panel {
  height: fit-content;
}
.right_panel > p {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 300;
}

.inner_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.account_container {
  display: flex;
  /* width: fit-content; */
  padding: 20px;
  border-radius: 15px;
  align-items: center;
  gap: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.panel1 {
  background-color: #cee0de;
}
.panel2 {
  background-color: #d7ebba;
}
.panel3 {
  background-color: #c5e7e2;
}
.panel4 {
  background-color: #e7e3a1;
}
.panel5 {
  background-color: #d6e9e6;
  position: relative;
}
.icon_container {
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  /* background-color: rgba(255, 165, 0, 0.7); */
}
.amount_icon {
  font-size: 25px;
  /* color: #fff; */
}

.inner p {
  font-size: 20px !important;
  font-family: 'Poppins';
}

.inner span {
  font-weight: 600;
}

/* @utilities  */

.btn_stake {
  margin-top: 15px;
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn_stake:hover {
  background: linear-gradient(170.04deg, #ebb54b -8.91%, #e97247 99.52%);
}
.hide_stake_button {
  opacity: 0;
  visibility: hidden;
}

.btn_transfer_amount {
  position: absolute;
  bottom: -30px;
  right: 0;
  margin-right: 10px;

  font-weight: 600;
  display: inline-flex;
  margin-bottom: 20px;
  border: none;
  font-family: 'Rubik', sans-serif;
  background-color: #b92b26;
  color: #fff;
  cursor: pointer;
  width: fit-content;
  padding: 5px 7px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn_transfer_amount:hover {
  background-color: #b9403c;
}
@media screen and (max-width: 900px) {
  .section_a {
    /* padding-bottom: 100px; */
    padding: 0px 20px;
  }
  .dashboard_container {
    grid-template-columns: 1fr;
  }
  .btn_stake {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
  }

  /* @LEFT PANEL  */
  .event_computations > p {
    display: block !important;
  }

  .staked_trade {
    font-size: 15px;
  }
  .hide_container {
    display: none !important;
  }
  .show_container {
    display: block !important;
  }

  .event_right {
    text-align: right;
    font-size: 13px;
  }
  .event_left {
    text-align: left;
    font-size: 13px;
  }

  /* @RIGHT PANEL  */
  .inner_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .right_panel > p {
    padding-top: 10px;
    border-top: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
  }
  .account_container {
    gap: 10px;
  }

  .inner p {
    font-size: 18px !important;
  }

  .icon_container {
    width: 40px;
    height: 40px;
  }

  .amount_icon {
    font-size: 20px;
  }
}
