.section_a {
  padding-bottom: 100px;
  padding: 0px 50px;
  margin-bottom: 100px;
}

.dashboard_container {
  /* height: 500px; */
  margin-top: 30px;
  display: grid;
  /* grid-template-columns: 60% 40%; */
  grid-template-columns: 3fr 2fr;
  gap: 30px;
}

.left_panel,
.right_panel {
  /* border: 1px solid rgb(201, 201, 201); */
  border-radius: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profit_target > p:nth-of-type(1) {
  font-size: 27px;
  font-weight: 500;
}
.profit_target > p:nth-of-type(2) {
  font-size: 15px;
}
.match_event {
  background-color: #0d333f;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

.match_event > p:nth-of-type(1) {
  color: #0fd46c;
}
.match_event > p:nth-of-type(2) {
  font-size: 30px;
  font-weight: 600;
}
.event_computations {
  margin-top: 30px;
}

.event_computations > p {
  display: none !important;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}
.computation_wrapper {
  /* border: 1px solid gray; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.event_right {
  text-align: right;
}
.event_left {
  text-align: left;
}
.staked_trade {
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #f5b96a !important;
  font-weight: 500;
}

.staked_trade_completed {
  color: #0fd46c !important;
  border: 2px dotted #0fd46c !important;
  padding: 0px 5px;
  border-radius: 5px;
}
.staked_trade_cancelled {
  color: rgb(245, 47, 47) !important;
  border: 2px dotted rgb(245, 47, 47) !important;
  padding: 0px 5px;
  border-radius: 5px;
}

.success_trade_color {
  color: #0fd46c !important;
}
/* .lock_icon {
  font-size: 30px;
  color: #f05822;
  position: absolute;
  top: 12px;
  cursor: pointer;
} */
/* @right panel  */
.right_panel {
  height: fit-content;
}
.right_panel p:nth-of-type(1) {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 300;
}
.right_panel p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
  background-color: #24738b;
  background-color: #24738b;

  color: #fff;
  padding: 20px;
  margin-top: 20px;
}
.right_panel p:nth-of-type(3) {
  font-size: 20px;
  font-weight: 500;
  background-color: #a1cda8;

  color: #fff;
  color: #0d333f;
  padding: 20px;
  margin-top: 20px;
}
.right_panel p:nth-of-type(4) {
  font-size: 20px;
  font-weight: 500;
  background-color: #b5dfca;

  color: #0d333f;
  padding: 20px;
  margin-top: 20px;
}
.right_panel p:nth-of-type(5) {
  font-size: 20px;
  font-weight: 500;

  background-color: #c5e7e2;

  color: #0d333f;
  padding: 20px;
  margin-top: 20px;
}

.right_panel p:nth-of-type(6) {
  font-size: 20px;
  font-weight: 500;

  background-color: #d6e9e6;

  color: #0d333f;
  padding: 20px;
  margin-top: 20px;
}

/* @utilities  */

.btn_stake {
  margin-top: 15px;
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn_stake:hover {
  background: linear-gradient(170.04deg, #ebb54b -8.91%, #e97247 99.52%);
}
.hide_stake_button {
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 900px) {
  .section_a {
    /* padding-bottom: 100px; */
    padding: 0px 20px;
  }
  .dashboard_container {
    grid-template-columns: 1fr;
  }
  .btn_stake {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
  }

  /* @LEFT PANEL  */
  .event_computations > p {
    display: block !important;
  }

  .staked_trade {
    font-size: 15px;
  }
  .hide_container {
    display: none !important;
  }
  .show_container {
    display: block !important;
  }

  .event_right {
    text-align: right;
    font-size: 13px;
  }
  .event_left {
    text-align: left;
    font-size: 13px;
  }

  /* @RIGHT PANEL  */
  .right_panel p {
    font-size: 15px !important;
  }
  .right_panel p:nth-of-type(1) {
    font-size: 26px !important;
    font-weight: 300;
  }
}
