.footer_container {
  /* margin-top: 100px; */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: rgba(7, 20, 43, 0.8); */
  /* background-color: #7e7f80; */
  background-color: #dadada;
}

.logo_container_footer {
  align-self: flex-start !important;
  margin-left: 43%;
}
.footer_container > h3 {
  font-size: 30px;
  color: rgb(31, 31, 31);
  color: black;
}

.logo_span {
  color: #c78f1f;
}
.footer_container > p {
  font-size: 15px;
  color: #f9fbfd;
  color: black;

  width: 700px;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7rem;
}

.social_icons {
  color: #f9fbfd;
  color: rgb(90, 90, 90);

  display: flex;
  gap: 20px;
}
.social_items {
  font-size: 30px;
}
.footer_menuIcons {
  display: flex;
  gap: 20px;
}
.menu_items {
  color: #f9fbfd;
  color: black;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px !important;
  border: 1px solid black;
  padding: 5px 7px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .footer_container {
    height: 500px;
    /* padding: 20px; */
  }

  .logo_container_footer {
    margin-left: 24%;
  }
  .footer_container > h3 {
    font-size: 23px;
    color: rgb(31, 31, 31);
  }
  .footer_container > p {
    font-size: 15px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .social_items {
    font-size: 25px;
  }
  .menu_items {
    font-size: 13px !important;
  }
}
