.event_container {
  margin-bottom: 100px !important;
}

.event_container > h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login_wrapper {
  width: 458px;
  padding: 0px 0px;
}
.event_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.input_wrapper {
  /* border: 1px solid #757575; */
  border: 1px solid rgb(204, 204, 204);

  margin-bottom: 20px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}
.login_wrapper label {
  color: rgb(95, 95, 95);
  font-size: 13px;
}
.login_wrapper input {
  width: 100%;
  padding: 7px;
  padding-left: 0px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(56, 56, 56);

  background: inherit;
  border: none;
  outline: none;
  fill: none;
}
.login_wrapper input:-webkit-autofill,
.login_wrapper input:-webkit-autofill:hover,
.login_wrapper input:-webkit-autofill:focus,
.login_wrapper input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.withdraw_text {
  color: #3bb373;
  font-size: 14px;
  font-weight: 500;
}
.event_option {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

/* @ RIGHT PANEL EVENT SUMMARY  */

.kickStart_container {
  border: 1px solid rgb(218, 218, 218);
  padding: 5px;
  height: 400px;
}

.kickStart_container > h3 {
  text-align: center;
  margin-top: 10px;
}

.match_event {
  /* color: #fff; */
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

.match_event > p:nth-of-type(1) {
  color: #0fd46c;
}
.match_event > p:nth-of-type(2) {
  font-size: 30px;
  font-weight: 600;
}
.event_computations {
  margin-top: 30px;
}

.event_computations > p {
  display: none !important;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}
.computation_wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.event_right {
  text-align: right;
}
.event_left {
  text-align: left;
}

/* utilities */
.btn_create_event {
  margin-bottom: 20px;
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
  /* box-shadow: 0 14px 14px rgba(0, 0, 0, 0.07),
          0 7px 14px rgba(241, 140, 65, 0.26); */
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn_create_event:hover {
  box-shadow: none;
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f09b7c 99.52%);
}

.btn_create_event_inactive {
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f09b7c 99.52%);
}

/* // */
.btn_kick_start {
  display: none;
  margin-top: 15px;
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn_kick_start:hover {
  background: linear-gradient(170.04deg, #ebb54b -8.91%, #e97247 99.52%);
}

.btn_kick_start_inactive {
  background: linear-gradient(170.04deg, #ebb54b -8.91%, #e97247 99.52%);
}

@media screen and (max-width: 900px) {
  .header {
    font-size: 26px;
  }

  .event_container > h3 {
    font-size: 26px;
  }

  .event_wrapper {
    grid-template-columns: 1fr;
  }
  .login_wrapper {
    border-bottom: 1px solid rgb(214, 214, 214);
    width: 100%;
    height: auto;
  }

  /* @ EVENT SUMMARY  */
  .kickStart_container {
    margin-top: 20px;
    height: auto;
  }

  .event_computations > p {
    display: block !important;
  }

  .match_event > p:nth-of-type(2) {
    font-size: 26px;
  }

  .event_right {
    text-align: right;
    font-size: 13px;
  }
  .event_left {
    text-align: left;
    font-size: 13px;
  }

  /* utilities  */

  .btn_create_event {
    display: none;
    height: 50px;
  }

  .btn_kick_start {
    display: inline-flex;
    justify-content: center;
  }
}
