.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  margin-top: 20px;
}
.desposit_container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.desposit_container {
  font-size: 20px;
}
.desposit_container p:nth-of-type(1) {
  margin-bottom: 20px;
}
.desposit_container p:nth-of-type(2) span {
  color: #3bb373;
  font-weight: 500;
}
/* utilities  */
.btn_copy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-weight: 600;
  border: 1px solid rgb(216, 216, 216);
  padding: 5px;
  margin-top: 10px;
}

.btn_copy:hover {
  background-color: rgb(224, 224, 224);
}
@media screen and (max-width: 900px) {
  .header {
    font-size: 26px;
  }

  .dashboard_wrapper {
    padding: 0px 5px;
  }

  .desposit_container {
    font-size: 16px;
  }

  .desposit_container p:nth-of-type(2) span {
    font-size: 14px;
  }
}
