.interest_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.interest_container h1 {
  margin-bottom: 20px;
  letter-spacing: 0.05em;
  font-family: 'Poppins', sans-serif;
}

.btn_register {
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f48023;
  border-radius: 5px;
  padding: 7px 15px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.btn_register:hover {
  background-color: #ff9b49;
}
@media screen and (max-width: 900px) {
  .interest_container h1 {
    font-size: 19px;
  }
  .btn_register {
    font-size: 13px;
    padding: 5px 8px;
  }
}
