.comming_soon_icon {
  color: rgb(226, 31, 31);
}
.header {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 900px) {
  .header {
    font-size: 16px;
    flex-direction: column;
  }
}
