/* @ hero section  */
.hero_wrapper {
  background-color: #07142b;
  background-color: #0d333f;
  height: 100vh;
}
.hero_section {
  /* border: 1px solid black; */
  padding: 20px;
  max-width: 1200px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 60px;
  margin-top: 0px;
}

.hero_logo {
  width: 100%;
  height: auto;
}

.hero_section .inner_a h1 {
  font-size: 50px;
  color: #fff;
  opacity: 0.9;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.type_writter {
  font-size: 20px;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 20px;
}

.type_writter {
  display: flex;
  gap: 5px;
}

/* @Youtube section  */
.youtube_container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.youtube_inner_b h3 {
  font-size: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.youtube_inner_b p {
  margin-bottom: 15px;
  font-size: 15px;
}

.youtube_inner_b ul {
  list-style-type: disc;
  padding-left: 30px;
}
/* @ Partners section  */
.partners_container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
}

.partners_container h3 {
  font-size: 30px;
}
.our_partners {
  margin-top: 30px;
}
.our_partners_inner {
  width: 200px;
  height: 200px;
  overflow-y: hidden;
  padding: 10px;
}

.partner_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* @ why join us section  */
.why_join_wrapper {
  background-color: #0d333f;
}

.why_join_container h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.why_join_container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 50px 30px;

  /* height: 500px; */
  margin-bottom: 0px;
}

.why_join_inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.join_inner_a {
  width: 300px;
  height: 100%;
  border: 1px solid rgb(90, 90, 90);
  padding: 0px 20px;
  border-radius: 20px;
}
.join_inner_a:nth-of-type(1) {
  padding-top: 73px;
}

.join_inner_a p {
  color: #fff;
  text-align: center;
}
/* utilities */
.btn_hero {
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
  /* box-shadow: 0 14px 14px rgba(0, 0, 0, 0.07),
    0 7px 14px rgba(241, 140, 65, 0.26); */
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn_hero:hover {
  box-shadow: none;
}

@media screen and (max-width: 900px) {
  /* hero section */
  .hero_wrapper {
    height: unset;
    height: 740px;
  }
  .hero_section {
    grid-template-columns: 1fr;
    padding-top: 60px;
  }
  .hero_section .inner_a h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .type_writter {
    font-size: 15px;
    margin-bottom: 20px;
    height: 50px;
  }

  /* @ YOUTUBE SECTION  */

  .youtube_container {
    margin-top: 180px;
    grid-template-columns: 1fr;
  }

  .youtube_inner_a {
    order: 2;
  }
  .youtube_inner_b {
    order: -1;
  }
  .youtube_inner_b h3 {
    font-size: 26px;
  }

  /* @ partners section  */
  .partners_container h3 {
    font-size: 22px;
  }
  .our_partners {
    margin-top: 0px;
  }

  /* @ why join us  */
  .why_join_container {
    padding: 50px 30px;
  }

  .why_join_container h3 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .why_join_inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .join_inner_a {
    width: 300px;
    height: auto;
    border: 1px solid rgb(100, 100, 100);
    padding: 0px 10px;
    padding-bottom: 10px;
    border-radius: 20px;
  }
  .join_inner_a:nth-of-type(1) {
    padding-top: 0px;
  }
  .join_inner_a p {
    color: #fff;
    text-align: center;
  }
  /* utilities  */
  .btn_hero {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
  }
}
