/* @ hero section  */
.hero_wrapper {
  background-color: #07142b;
  background-color: #0d333f;
  height: 100vh;
}
.hero_section {
  /* border: 1px solid black; */
  padding: 20px;
  max-width: 1200px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 60px;
  margin-top: 0px;
}

.hero_logo {
  width: 100%;
  height: auto;
}

.hero_section .inner_a h1 {
  font-size: 50px;
  color: #fff;
  opacity: 0.9;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.type_writter {
  font-size: 20px;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 20px;
}

.type_writter {
  display: flex;
  gap: 5px;
}

/* @Youtube section  */
.youtube_container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.youtube_inner_b h3 {
  font-size: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.youtube_inner_b p {
  margin-bottom: 15px;
  font-size: 15px;
}

.youtube_inner_b ul {
  list-style-type: disc;
  padding-left: 30px;
}
/* @ Partners section  */
.partners_container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
}

.partners_container h3 {
  font-size: 30px;
}
.our_partners {
  margin-top: 30px;
}
.our_partners_inner {
  width: 200px;
  height: 200px;
  overflow-y: hidden;
  padding: 10px;
}

.partner_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* utilities */
.btn_hero {
  background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
  /* box-shadow: 0 14px 14px rgba(0, 0, 0, 0.07),
    0 7px 14px rgba(241, 140, 65, 0.26); */
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn_hero:hover {
  box-shadow: none;
}

.btn_priceList {
  margin-top: 20px;
  width: 180px;
  border: 1px solid #063a4f;
  color: #063a4f;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  animation: myAnim 2s ease-in 0s infinite normal forwards;

  transition: all 0.2s ease-in-out;
}
.btn_priceList:hover {
  border: 1px solid #f0aa22;
  color: #f0aa22;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@media screen and (max-width: 900px) {
  /* hero section */
  .hero_wrapper {
    height: unset;
    height: 740px;
  }
  .hero_section {
    grid-template-columns: 1fr;
    padding-top: 60px;
  }
  .hero_section .inner_a h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .type_writter {
    font-size: 15px;
    margin-bottom: 20px;
    height: 50px;
  }

  /* @ YOUTUBE SECTION  */

  .youtube_container {
    margin-top: 180px;
    grid-template-columns: 1fr;
  }

  .youtube_inner_a {
    order: 2;
  }
  .youtube_inner_b {
    order: -1;
  }
  .youtube_inner_b h3 {
    font-size: 26px;
  }

  /* @ partners section  */
  .partners_container h3 {
    font-size: 22px;
  }
  .our_partners {
    margin-top: 0px;
  }
  /* utilities  */
  .btn_hero {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
  }

  .btn_priceList {
    background: linear-gradient(170.04deg, #f0aa22 -8.91%, #f05822 99.52%);
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.07),
      0 7px 14px rgba(241, 140, 65, 0.26);
    color: #fff !important;
    outline: none;
    text-align: center;
    border: none;

    width: 150px;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
  }
}
